body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section
{
    height: 500px;
    padding-bottom: 70px;
}

.first-heading{
    font-size: 40px;
    border-left: 4px solid rgb(14, 255, 14);
    padding-left: 30px;
    line-height: 50px;
    border-image-slice: 1;
}
.flexible-body{
    display: flex;
    margin-bottom: 100px;
}
span{
    color: rgb(112, 32, 241);
}
.first-width-half{
    width: 50%;
    padding-left:8%;
    padding-top: 5%;
}
.first-width-half img{
    width: 60%;
}
.MY-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(8, 255, 8),rgb(9, 63, 9));
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.creat-gap{
    margin-top:60px;
    font-weight: 200px;
    
}
.misson{
    font-size: 50px;
    text-align: center;
    font-weight: 700px;
}
.creat-box{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.box-text{
    text-align: justify;
    padding-right: 5%;
    font-family: 'poppins';
}
.box-image{
    height:15%;
    width:40%
}
h3{
    font-size: 30px;
}

#for-box1{
    border-radius: 20px;
    padding-bottom: 1%;
    padding-top: 3%;
    background-color: rgb(205, 248, 210);
}

#for-box2{
    
    border-radius: 20px;
    padding-bottom: 1%;
    padding-top: 3%;
    background-color: rgb(240, 250, 103);
}
#for-box3{
    border-radius: 20px;
    padding-bottom: 1%;
    padding-top: 3%;
    background-color: rgb(192, 240, 255);
}

#for-left{
    margin-left: 20px
}

.devided-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.first-text{
    font-weight:400 px;
    margin-bottom: 30px;
    font-size: 18px;
    text-align: justify;
    font-family:'poppins';
 
}
.mid-image{
    background: url("pictures/dream-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

button{
   width: 172px;  
   height: 48px;
   color: white;
   background: rgb(9, 255, 0);
   border-radius: 5px;
   font-size:20PX
   }

#bonas_header{
    color: rgb(11, 136, 238);

   }
.wanna_learn{
    font-size: 30px;
    font-style:oblique;
    color: rgb(30, 67, 78);
    font-weight: 800;
    margin-left: 10%;
   }
#bg_img{
    background: url("illustrators/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.bg-image{
    background: url("illustrators/exp-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.footer_start{
    color: white;
}
.footer_year{
    color: rgb(4, 255, 4);
    
}
footer{
    margin-top:100px;
    background-color:black;
    height:200px;
    font-family:'Yeseva One'; 
    }
footer h2{
    text-align: center;
    padding-top:40px;
    font-size:50px;
    font-style: italic;
    }
footer p{
    color: white;
    text-align: center;
}



















